body, html{
  height:100%;
  width:100%;
  background-color: #343a40;
}

.cardPane {
  background-color: #eee;
  color: black;
}

.cardPaneLeft{
  border-right: 2px solid #959595;
}

.cardPaneCenter{
  background-color: #ffffff;

}

.cardPaneRight{
  border-left: 2px solid #959595;
}


img{
  width:100%;
  height: 100%;
}


.footer{
  height: auto;
  background-color: #343a40;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom:15px;
  color: white;
}

.navbar-brand{
text-align: center;
}

.col{
  text-align: center;
}

.member-text, .report-text, .cert-text{
  font-size: 20px;
}
