.footer{
  height: auto;
  background-color: #343a40;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom:15px;
  color: white;
}

.header{
  text-align: center;
  font-size: 36px;
  padding: 15px;

}

.header-text{
  text-align: center;
  padding: 15px;
  font-size: 20px;
}
#logo{
  height: 75px;
  width: 75px;
}
