<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/certifications.css">
    <title>OCFR - Certs</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="home.html">Certification</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="home.html">Home</a>
          <a class="nav-link" href="members.html">Members</a>
          <a class="nav-link" href="reports.html">Reports</a>
          <a class="nav-link active" href="certifications.html">Certifications<span class="sr-only">(current)</span></a>
        </div>
      </div>
    </nav>
    <div class="header">
      <b>Certifications</b>
      </div>
      <div class="header-text">
      View certification records, details, and members with certain certifications.
    </div>

    <div id="getCert">
      <table id="bookTable" class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Years Good</th>
            <th>Delete Record</th>
          </tr>
        </thead>
        <tbody id="certTableBody" class="cert" v-for="certs in cert">
          <tr>
            <td>{{ certs.nameShort }}</td>
            <td>{{ certs.stdExpire }}</td>
            <td><a v-bind:href = "'api/deleteCert.php?nameShort=' + certs.nameShort">Delete</a></td>
          </tr>
        </tbody>
      </table>

      Add Certification
        <form v-on:submit.prevent="createCert()" id="newCertForm">
          <div class="cert">
            <input id="certTitle" v-model="newCert.nameShort" type="text"  placeholder="Add Certification" class="form-control">
            <input id="certExpire" v-model="newCert.stdExpire" type="text"  placeholder="Expiration in years" class="form-control">
          </div>
          <br><center><button type="submit" class="btn btn-primary" id="submitNewComment">Add Certification</button></center>
        </form>


      <form v-on:submit.prevent="findMem()" id="newMem">
        <div class="dropdown">
          <select id="certs" v-model="selected.nameShort" >
            <option  v-for="x in cert" v-bind:value="x.nameShort">{{ x.nameShort }}</option>
          </select>
        </div>
        <br><center><button type="submit" class="btn btn-primary" id="submitNewCert">All Members with Ceritifcation</button></center>
      </form>

      <table id="bookTable" class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Date Obtained</th>
            <th>Date Renewed</th>
            <th>Date Expire</th>
          </tr>
        </thead>
        <tbody id="certTableBody" class="cert" v-for="i in selectedReturn">
          <tr>
            <td>{{ i.fullname }}</td>
            <td>{{ i.nameShort }}</td>
            <td>{{ i.dateObtained }}</td>
            <td>{{ i.dateRenewed}}</td>
            <td>{{ i.dateExp }}</td>

          </tr>
        </tbody>
      </table>

</div>

    <div class="footer">
      This project was completed by Team 31: Matthew Lang, Jiaqi Xiao, Marcus Gershenberg, and Alex Nikas for the Data and Systems Module.<p><p>
      MSIS Program 2020 @ Kelley School of Business at Indiana University
    </div>

      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
      <script src='js/tablesort.min.js'></script>
      <script src="js/certifications.app.js"></script>
      <script>
        new Tablesort(document.getElementById('bookTable'));
      </script>

    </body>
  </html>
