<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->


    <link rel="stylesheet" href="css/members.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>OCFR - Members</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="home.html">Members</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="home.html">Home</a>
          <a class="nav-link active" href="members.html">Members <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="reports.html">Reports</a>
          <a class="nav-link" href="certifications.html">Certifications</a>
        </div>
      </div>
    </nav>
    <div class="header">
      <b>Members</b>
      </div>
      <div class="header-text">
      View, edit, and add OCFR member information.
    </div>
<br>
<div id="getMember">
      <table id="bookTable" class="table">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Zipcode</th>
            <th>Radio Number</th>
            <th>Delete Member</th>
          </tr>
        </thead>
        <tbody id="memberTableBody" class="member" v-for="members in member">
          <tr>
            <td>{{ members.firstname }}</td>
            <td>{{ members.lastname }}</td>
            <td>{{ members.gender }}</td>
            <td>{{ members.addressStreet }}</td>
            <td>{{ members.addressCity }}</td>
            <td>{{ members.addressState }}</td>
            <td>{{ members.adressZip }}</td>
            <td>{{ members.radioNum }}</td>
            <td><a v-bind:href = "'api/deleteMem.php?firstname=' + members.firstname + '&lastname=' + members.lastname">Delete</a></td>
          </tr>
        </tbody>
      </table>
      Add Member
      <form v-on:submit.prevent="addMember()" id="newMemberForm">
        <div class="member">
          <input id="memberName" v-model="newMember.firstname" type="text"  placeholder="First Name" class="form-control">
          <input id="memberLast" v-model="newMember.lastname" type="text"  placeholder="Last Name" class="form-control">
          <input id="gender" v-model="newMember.gender" type="text"  placeholder="gender" class="form-control">
          <input id="street" v-model="newMember.addressStreet" type="text"  placeholder="Address: Street" class="form-control">
          <input id="city" v-model="newMember.addressCity" type="text"  placeholder="Address: City" class="form-control">
          <input id="state" v-model="newMember.addressState" type="text"  placeholder="State" class="form-control">
          <input id="zip" v-model="newMember.adressZip" type="text"  placeholder="Zipcode" class="form-control">
          <input id="radio" v-model="newMember.radioNum" type="text"  placeholder="Radio Number" class="form-control">
          <input id="station" v-model="newMember.station" type="text"  placeholder="Station Number" class="form-control">
          <input id="email" v-model="newMember.email" type="text"  placeholder="Email" class="form-control">
          <input id="phone" v-model="newMember.phone" type="text"  placeholder="Phone Number" class="form-control">
        </div>
        <br><center><button type="submit" class="btn btn-primary" id="submitNewMember">Add Member</button></center>
      </form>

      <form v-on:submit.prevent="findMem()" id="newMem">
        <div class="dropdown">
          <select id="members" v-model="selected.fullname" >
            <option  v-for="members in member"  v-bind:value="members.firstname + ' ' + members.lastname">{{ members.firstname }} {{ members.lastname }}</option>
          </select>
        </div>
        <br><center><button type="submit" class="btn btn-primary" id="submitNewCert">All Members with Ceritifcation</button></center>
      </form>

      <table id="bookTable" class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Certifications</th>
            <th>Years Good</th>
            <th>Date Obtained</th>
            <th>Date Renewed</th>
            <th>Date Expire</th>
          </tr>
        </thead>
        <tbody id="certTableBody" class="cert" v-for="i in selectedReturn">
          <tr>
            <td>{{ i.fullname }}</td>
            <td>{{ i.nameShort }}</td>
            <td>{{ i.stdExpire }}</td>
            <td>{{ i.dateObtained }}</td>
            <td>{{ i.dateRenewed}}</td>
            <td>{{ i.dateExp }}</td>

          </tr>
        </tbody>
      </table>

</div>


    <div class="footer">
      This project was completed by Team 31: Matthew Lang, Jiaqi Xiao, Marcus Gershenberg, and Alex Nikas for the Data and Systems Module.<p><p>
      MSIS Program 2020 @ Kelley School of Business at Indiana University
    </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src='js/tablesort.min.js'></script>
    <script src="js/members.app.js"></script>
    <script>
      new Tablesort(document.getElementById('bookTable'));
    </script>

    </body>
  </html>
