<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/reports.css">
    <title>OCFR - Reports</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="reports.html">Reports</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="index.html">Home</a>
          <a class="nav-link" href="members.html">Members</a>
          <a class="nav-link active" href="reports.html">Reports<span class="sr-only">(current)</span></a>
          <a class="nav-link" href="certifications.html">Certifications</a>
        </div>
      </div>
    </nav>
    <div class="header">
      <b>Reports</b>
      </div>
      <div class="header-text">
        View a list of members with expired certifications.<br>
        View a report of all members' names by station and radio number.
    </div>

    <div id="expCert">
      <table id="bookTable" class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Certification</th>
            <th>Expired</th>
          </tr>
        </thead>
        <tbody id="certTableBody" class="cert" v-for="certs in cert">
          <tr>
            <td>{{ certs.name }}</td>
            <td>{{ certs.nameShort }}</td>
            <td>{{ certs.dateExp }}</td>
          </tr>
        </tbody>
      </table>
<br>
<table id="bookTable" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Station</th>
      <th>Radio Number</th>
      <th>Email</th>
      <th>Phone Number</th>
    </tr>
  </thead>
  <tbody id="memberTableBody" class="members" v-for="mems in members">
    <tr>
      <td>{{ mems.fullname }}</td>
      <td>{{ mems.station }}</td>
      <td>{{ mems.radioNum }}</td>
      <td>{{ mems.email }}</td>
      <td>{{ mems.phone }}</td>
    </tr>
  </tbody>
</table>


    </div>

      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src='js/tablesort.min.js'></script>
        <script src="js/reports.app.js"></script>
        <script>
          new Tablesort(document.getElementById('bookTable'));
        </script>

    <div class="footer">
      This project was completed by Team 31: Matthew Lang, Jiaqi Xiao, Marcus Gershenberg, and Alex Nikas for the Data and Systems Module.<p><p>
      MSIS Program 2020 @ Kelley School of Business at Indiana University
    </div>

    </body>
  </html>
